

.theBackground{
    background-color: lightcyan;
}

.theSecondBackground{
    background-color:white;
}


h1{
    text-align:center;
}

ul{
   width:100%;
    text-align:center;
   list-style:none;
    display:inline-block;
    text-decoration:none;
    
}

li{
    text-decoration:none;
     padding-top:50px;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{  

    text-decoration: none ;
    
    color:black;
}

a:hover{

    text-decoration: underline;
    font-size: large;
    padding:10px 10px;
    border-radius:20px;
    border: 1px solid;
    

}

#DollarVal:focus{
    background-color:lightblue;
}


#tableExtra {
    border-collapse:collapse;
    border-spacing:0;
}

#myFormExtra td , #myFormExtra th{
    border:1px solid black;
    padding:10px;
    margin:auto;
}

.container{
    background-color: white;
}


.underline{
    text-decoration: underline;
}

.bold{
    font-weight:bold;
}

.italic{
    font-style: italic
}




