
body{
    background-color: lightcyan;
}

h1{
    text-align:center;
}

ul{

   
    display:inline-block;
    text-decoration:none;
    
}

li{
     padding-top:50px;
    margin-left: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{  

    text-decoration: none;
    
    color:black;
}

a:hover{

    text-decoration: underline;
    font-size: large;
    padding:10px 10px;
    border-radius:20px;
    border: 1px solid;
    

}



